 <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <%= link_to "Cats of Disney", root_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <% if current_user %>
        <%= link_to "#{current_user.name}", user_path(current_user) %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Log out of account', session_path('dummy'), method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Sign In", new_session_path %>
      <% end %>
    </nav>
  </header>






<body>
  <div>user.name</div>

    <% current_user.images.reverse.each do |post| %>
    <div>
      <div id='image'>
          <img><%= image_tag (post.image) %></img>
      </div>
      <div>
        <%= post.description %>
      </div>
      <%= button_to "Delete", image_path(post), :method => :delete, data:
      {:confirm => "Are You Sure You Want to Delete Your Post?"}%>
    </div>
    <% end %>
<% else %>
  <h3></h3>
</body>




